
.shadow {
  box-shadow: 0 1px 2px 0 rgba($grey-darkest,0.2);
  &--sm     { box-shadow: 0 0px 1px 0 rgba($grey-darkest,0.2); }
  &--lg     { box-shadow: 0 2px 4px 0 rgba($grey-darkest,0.2); }
  &--xl     { box-shadow: 0 3px 6px 0 rgba($grey-darkest,0.2); }
}

.rounded {
  border-radius: 3px;
  overflow: hidden;
  &--sm     { border-radius: 2px; overflow: hidden; }
  &--lg     { border-radius: 4px; overflow: hidden; }
  &--xl     { border-radius: 5px; overflow: hidden; }
}
