{% if page.locale %}
  {% assign locale = site.data.locales.[page.locale] %}
{% else %}
  {% assign locale = site.data.locales.uk %}
{% endif %}

<footer class="site-footer">

  {% if locale.footer.as-featured %}
  <div class="bg--grey-darkest vpad--md text--white">
    <div class="container">
      <p>{{locale.footer.as-featured}}</p>
      <div class="site-footer__logos" style="background-image: url({{site.img}}/footer/logos-{{page.locale}}.jpg);"></div>
    </div>
  </div>
  {% endif %}

  <div class="bg--black vpad--md text--white">
    <div class="container">
      <div class="row">
        {% if locale.footer.nav %}
        <!-- SECRET ESCAPES -->
        <div class="col col--2">
          <strong>Secret Escapes</strong>
        </div>
        <div class="col col--10">
          <ul class="site-footer__links">
            {% for item in locale.footer.nav %}
              <li><a href="{{item.link}}">{{item.text}}</a></li>
            {% endfor %}
          </ul>
        </div>
        <div class="col col--12">
          <hr class="hr--light hr--long hr--no-space">
        </div>
        {% endif %}
        <!-- COPYRIGHT -->
        <div class="col col--12">
          <p class="text--sm">© Copyright <span class="js-year">2020</span> Secret Escapes</p>
        </div>
      </div>
    </div>
  </div>

</footer>